# Pandas

In [ ]:
import pandas as pd

In [2]:
example_series = pd.Series([10, 20, 30, 40])
print(example_series)

date = {
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor"],
    "Price": [1000, 20, 50, 200]
}
df_example = pd.DataFrame(date)
print(df_example)

0    10
1    20
2    30
3    40
dtype: int64
    Product  Price
0    Laptop   1000
1     Mouse     20
2  Keyboard     50
3   Monitor    200

# Creating and manipulating Dataframes

In [9]:
date = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, 30, 35, 40],
    "City": ["Roma", "Milano", "Napoli", "Torino"]
}

df = pd.DataFrame(date)
print(df)
print()

df_indexed = df.set_index("Name")
print(df_indexed)
print()

name = df["Name"]
print(name)
print()

selected_data = df[["Name", "Age"]]
print(selected_data)
print()

extract_loc = df_indexed.loc["Alice": "Charlie", ["Age", "City"]]
print(extract_loc)
print()

extract_iloc = df.iloc[0:2, 0:2]
print(extract_iloc)
print()

      Name  Age    City
0    Alice   25    Roma
1      Bob   30  Milano
2  Charlie   35  Napoli
3    Diana   40  Torino

         Age    City
Name
Alice     25    Roma
Bob       30  Milano
Charlie   35  Napoli
Diana     40  Torino

0      Alice
1        Bob
2    Charlie
3      Diana
Name: Name, dtype: object

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Diana   40

         Age    City
Name
Alice     25    Roma
Bob       30  Milano
Charlie   35  Napoli

    Name  Age
0  Alice   25
1    Bob   30